<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISIT420_HW7_500Cube_WinForm.Properties.Settings.NodeOrders500TConnectionString"
            connectionString="Data Source=DAGDA\;Initial Catalog=NodeOrders500T;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>